secrets.toml
./secrets.toml
.DS_Store
output/
resources/
temp/
user_data/
pdf/
launch.json
steps.txt
*.mp3
*.wav
*.ogg
*.m4a
*.pdf
secrets.toml
__pycache__/nlp.cpython-39.pyc
__pycache__/*
__pycache__/
models/*
*.pkl
