openai
ffmpeg-python
streamlit
fpdf
toml
whisper @ git+https://github.com/openai/whisper.git@f82bc59f5ea234d4b97fb2860842ed38519f7e65
sounddevice
soundfile
python-telegram-bot
spacy
nltk
pandas
numpy
scikit-learn
FPDF
